@model Föreläsning11___Ajax.Models.Rabbit

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rabbit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AngerLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AngerLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@*//--------Del 5 - För kanin---------*@

<div id="GrudgeContainer">
    @Html.Action(actionName: "_GrudgesForRabbit",
        controllerName: "Grudge",
        routeValues: new { id = Model.Id } @*//Binder kaninens id med alla grudges med samma id*@
        )
</div>

<div id="ExpandingGrudgeContainer">
    @Html.Action(
    actionName: "_Create",
    controllerName:"Grudge",
    routeValues: new {id = Model.Id}
    )
</div>